*{
    box-sizing: border-box;
}
body{
    margin:30px;
    background-color: lightgray;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    border:2px solid black;
}
p{
    font-size:25px;
}
a{
    text-decoration: none;
    color:blue;
}
.hidden {
    display: none !important;
  }
.loginform {
    display: block;
}
.signoutbutton{
    cursor: pointer;
    font-size: 15px;
}